services:
  nginx:
    container_name: nginx
    image: nginx:1.29
    ports:
      - "80:80"
    environment:
      DOMAIN: ${DOMAIN}
    volumes:
      - ./nginx/config/http.conf.template:/etc/nginx/templates/http.conf.template
      - ./nginx/html:/usr/share/nginx/html
      - ./certbot/www:/var/www/certbot